body{
    margin: 0;
}

nav ,header,article,section, footer{
    margin-left: 60px;
    margin-right: 60px;
}

nav a {
    float: left;
    text-decoration: none;
}

nav ul li {
    display: inline;
}

nav ul {
    float: right;
}

nav{
    border-bottom: solid 3px;
    padding-bottom: 20px;
}

footer{
    border-top: solid 3px;
    padding-top: 10px;
}

footer img {
    float: left;
}

button{
    background: rgb(241, 59, 46);
    float:right;
    padding: 5px;
    margin-right: 150px;
}

.print{
    float: right;
}

section ul {
    background-image: url(img/list-bg.png);
}
section ul li {
    list-style-type: none;
}

